@{
    ViewBag.Title = "Admin Home Page";
}

<div class="jumbotron">
    <h2>Admine home page</h2>
    <h4>
        This is this home page for Administrator, give you access to the system.
    </h4>
    <h5 class="alert-danger">Only administrators are permitted to access and control data from this site. If you are someone who have not permitted yet, please leave this page right away and contact the Information Security department.</h5>

</div>

<div class="row">
    <div class="col-md-4">
        <h4 class=text-danger>Course management</h4>
        <p>
            Open new course - set register duration - close a courses
        </p>
        <p><a class="btn btn-default" href="#">Access &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4 class=text-danger>Lecturer management</h4>
        <p>
            Input Lecturer information, change personal information, assign Lecturer to a specific Faculty.
        </p>
        <p><a class="btn btn-default" href="">Access &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4 class=text-danger>Student Management</h4>
        <p>
            Input Studnet information, change personal information, assign student to a specific Faculty.
        </p>
        <p><a class="btn btn-default" href="">Access &raquo;</a></p>
    </div>
</div>