body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#header-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}
#header-text {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-title{
    font-size: large;
}

#content-block {
    display: -webkit-flex;
    -webkit-align-items: center;
}

#content-block img {
    width: 15%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

#content-block p {
    width: 78%;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}