
@{
    ViewBag.Title = "AddUserSuccessfully";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Information.</h2>
<h4 class="text-info">New user have been registered successfully!</h4>
